.filterContainer {
  margin: 0 auto;
  max-width: 1280px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  height: 36px;
}

.search {
  display: flex;
  position: relative;
}

.input {
  width: 300px;
  padding: 5px 15px;
  border-radius: 50px;
  border: none;
  background: #000;
  border: 1px solid #fff;

}

.input:active {
  border: 1px solid #ffe058;
}

.icon {
  position: absolute;
  right: 10px;
  top: 7px;
  width: 20px;
  color: #000 !important;
}

.sort {
  position: relative;
}

.sortList {
  list-style: none;
  position: absolute;
  border-radius: 0 0 5px 5px;
  background-color: #fff;
  border: 1px solid #000;
  right: 0;
  top: 30px;
}

.sortElement {
  color: #000;
  cursor: pointer;
  display: block;
  font-size: 18px;
  padding: 3px 0;
  text-align: center;
  width: 110px;
}

.sortElement:hover {
  background-color: #242424;
  color: #ffe058;
}